.partial__header
  .partial__header__left
    = link_to "NameCardOCR",root_path,class:"linkWhite"
  .partial__header__right
    ユーザ名 :
    -if user_signed_in?
      =current_user.nickname
      所属グループ名 :
      -if current_user.group != nil 
        = link_to "#{current_user.group.name}",new_group_path, method: :get,class: 'linkWhite'
      -else
        = link_to '未所属',new_group_path, method: :get,class: 'animationEmRed'
      = link_to "ログアウト", destroy_user_session_path, method: :delete,class:"partial__header__right--logout btnrad btnrad--white"
    -else
      ログインしていません
      = link_to 'ログインする',new_user_session_path,class:"partial__header__right--logout btnrad btnrad--white"
    =link_to 'このアプリの使い方',"https://github.com/rooreckless/NameCardOCR#user-content-6使い方と全機能", target: :_blank,class: "linkWhite"