= render 'partial/header'
= render 'layouts/notifications'
.groupnew_outer
  .groupnew_inner
    -# グループをまだ作成していないユーザなら、実行できる領域
    -if current_user.owned_group_id==nil and current_user.group_id==nil
      .groupnew_inner__new
        %h3.groupnew_inner--subtitle
          グループの新規作成
        こちらの欄を記入しグループを作成します。(※グループの新規作成をするとあなたはグループのオーナーとなり、
        %span.groupnew_inner--emred
          グループを削除するまで、他のグループに参加できません
        )
        = form_with model: @group ,class:"groupnew_inner__new__form",id:"#",local: true ,method: :post ,url:  group_index_path do |f|
          = f.label :グループ名,class:"groupnew_inner__new__form"
          = f.text_field :name,class:"groupnew_inner__new__form"
          = f.label :パスワード,class:"groupnew_inner__new__form"
          = f.password_field :password,class:"groupnew_inner__new__form"
          = f.label :パスワード再入力,class:"groupnew_inner__new__form"
          = f.password_field :password_confirmation,class:"groupnew_inner__new__form"
          %br/
          = f.submit "グループを新規作成する",class:"groupnew_inner__new__form btn btnrad btnrad--blue"
    -# グループオーナーであれば実行できる領域(グループ名編集やグループパスワード変更です。)
    -if current_user.owned_group_id!=nil
      %hr
      .groupnew_inner__show
        %h3.groupnew_inner--subtitle
          あなたがオーナーとなっているグループについて
        グループ情報を表示します。(※下のボタンでオーナーとして所持かつ参加しているグループ名、パスワードの編集ができます。)
        = form_with model: @group ,class:"groupnew_inner__show__form",id:"#",local: true ,method: :patch ,url:  group_path(@group.id) do |f|
          = f.label :グループ名,class:"groupnew_inner__show__form"
          = f.text_field :name,class:"groupnew_inner__show__form",readonly: "true"
          = f.label :パスワード,class:"groupnew_inner__show__form groupnew_inner__show__input--password"
          = f.password_field :password,class:"groupnew_inner__show__form groupnew_inner__show__input--password",readonly: "true"
          = f.label :パスワード再入力,class:"groupnew_inner__show__form groupnew_inner__show__input--passwordconfirm"
          = f.password_field :password_confirmation,class:"groupnew_inner__show__form groupnew_inner__show__input--passwordconfirm",readonly: "true"
          %br/
          .groupnew_inner__show__btns
            = f.submit "グループ情報を更新する",class:"groupnew_inner__show__form btnrad btnrad--anim",id:"groupnew_inner__show__form--updatebtn"
            #groupnew_inner__show__btns--starteditbtn.btnrad.btnrad--blue
              このグループ情報を編集する
            #groupnew_inner__show__btns--reberteditbtn.btnrad.btnrad--blue
              グループ情報の編集をやめて戻る
            = link_to 'このグループを削除する', group_path(@group.id), method: :delete, data: { confirm: '本当にこのグループを削除しますか？' },id:"groupnew_inner__show__btns--destroybtn",class:"btn btnrad btnrad--blue"
    -if current_user.group_id == nil
      %hr
      .groupnew_inner__belonginggroup
        %h3.groupnew_inner--subtitle
          グループへ参加する
        すでに作成されているグループに参加します。グループを選択して設定されているパスワードを入力し、「グループに参加する」ボタンを押してください。
        %br
        (※
        %span.groupnew_inner--emred
          グループに参加している状態では、新たにグループを作成することはできません。
        グループを脱退する必要があります。)
        = form_with model: @group ,class:"groupnew_inner__belonginggroup__form",id:"#",local: true ,method: :post ,url:  belonggroup_group_index_path(@group.id) do |f|
          
          = f.label :参加するグループ,class:"groupnew_inner__belonginggroup__form"
          = f.select :wantbelong_groupid, Group.all.map { |group| [group.name, group.id] }
          -# = f.text_field :name,class:"groupnew_inner__belonginggroup__form"
          = f.label :設定されているパスワードを入力,class:"groupnew_inner__belonginggroup__form groupnew_inner__belonginggroup__input--password"
          = f.password_field :wantbelong_grouppassword,class:"groupnew_inner__belonginggroup__form groupnew_inner__belonginggroup__input--password"
          = f.submit "グループに参加する",class:"groupnew_inner__belonginggroup__form btn btnrad btnrad--anim",id:"groupnew_inner__belonginggroup__form--bellongbtn"
    -if current_user.owned_group_id==nil and current_user.group_id != nil
      %hr
      .groupnew_inner__showbelonggroup
        %p
          現在参加しているグループ名 :
        =text_field_tag :belonginggroupname,"#{current_user.group.name}",{readonly: "true"}
        %p
          (※グループに参加している状態では、新たにグループを作成することはできません。グループを退会する必要があります。)
        =link_to "このグループから退会する",resigngroup_group_path(current_user.group_id),method: :post,class:"groupnew_inner__showbelonggroup--resign btn btnrad btnrad--blue",data: { confirm: '本当にこのグループから退会しますか？' }
= render 'partial/footer'