= render 'partial/header'
= render 'layouts/notifications'
.newcamera_outer
  .newcamera_body
    .headmessage
      %p
        今から
        %span.headmessage--red 名刺の写真を撮影して
        、名刺のデータを登録します。
      %br
        %small
          この機能ではブラウザのカメラを利用いたします。
          %br
            ブラウザから
            %span.headmessage--red 「カメラへのアクセスの許可を求め」られた場合は、許可してください。
            %br ※今から撮影する写真を画像データとして保存することはありません。
            %br
              - if current_user.group_id==nil
                %p
                  なお、
                  %span.headmessage--red 撮影前にグループに登録していただくと
                  、同じグループの方同士で名刺を共有できます。グループ登録は
                  %a{:href => "/group/new"} こちら
                  です。
              - else
                %p
                  これから作成する名刺データは、所属されている「#{current_user.group.name}」グループの方と共有します。グループ登録状況の確認は
                  %a{:href => "/group/new"} こちら
                  です。
            .newcamera__step1
              / カメラ映像が描画されます。
              %video#video_area.video_area_cls{:autoplay =>"",:style => "background-color: #000"}
              / 押下するとカメラ映像から静止画をキャプチャします。
              %button#video_area_btn.video_area_cls.btnrad.btnrad__anim{:onclick => "go_step2()"} 撮影 します
              %p.video_area_cls 上の領域に名刺の全体が映るようにして、「撮影」ボタンを押してください
            .newcamera__step2
              / キャプチャした静止画が描画されます。
              = succeed "\">" do
                %canvas#capture_image.capture_image_cls
              %br
              %button#drawCanvas.capture_image_cls.btnrad.btnrad__anim{:onclick => "drawCanvas()"} この画像を使用する
              %br
              %button#rebertpic_btn.capture_image_cls.btnrad.btnrad--blue{:onclick => "rebert_step1()"} 撮影をやりなおしたい
              %p.capture_image_cls
                こちらの画像から文字を認識します。
                %br
                よろしければ、
                %span.capture_image_cls--red 「この画像を使用する」ボタン
                を押してください。
                %br
                別の画像で認識したい場合は「撮影をやりなおしたい」ボタンを押してください。 
                %div
                  .newcamera__step3
                    %hr.drawCanvas__after
                      %p.drawCanvas__after
                        こちらが
                        %span.drawCanvas__after--red 画像からの文字を認識した結果
                        です。(コピー & ペースト可能です。)
                      %small.drawCanvas__after ※こちらの認識結果のテキストデータを画像の代わりに保存いたします。
                      %br
                        %textarea#base64result.drawCanvas__after.drawCanvas__after__textarea{:cols => "100", :name => "base64result", :readonly => "true", :rows => "15"}
                        #createbeforesearchresults.drawCanvas__after__createbeforesearchresults.newcamera__step3__warning
                      .newcamera__step4
                        %p#drawCanvas__after--message.drawCanvas__after
                          %span.drawCanvas__after--red 下の欄に書き写してください。
                          この内容で、「名刺データを作成」ボタンを押して保存します。
                        = form_with model: @card ,class:"drawCanvas__after drawCanvas__after__form",id:"#",local: true,url: {controller: 'cards', action: 'createdata' } do |f|
                          .drawCanvas__after.drawCanvas__after__form__row
                            = f.label :名前,class:"drawCanvas__after drawCanvas__after__form--label"
                            = f.text_field :name,class:"drawCanvas__after drawCanvas__after--input", placeholder:"名前を入力"
                          .drawCanvas__after.drawCanvas__after__form__row
                            = f.label :会社名,class:"drawCanvas__after drawCanvas__after__form--label"
                            = f.text_field :company,class:"drawCanvas__after drawCanvas__after--input", placeholder:"会社名を入力"
                          .drawCanvas__after.drawCanvas__after__form__row
                            = f.label :部署名,class:"drawCanvas__after drawCanvas__after__form--label"
                            = f.text_field :department,class:"drawCanvas__after drawCanvas__after--input", placeholder:"部署名を入力"
                          .drawCanvas__after.drawCanvas__after__form__row
                            = f.label :住所,class:"drawCanvas__after drawCanvas__after__form--label"
                            = f.text_field :address,class:"∂drawCanvas__after drawCanvas__after--input", placeholder:"住所を入力"
                          .drawCanvas__after.drawCanvas__after__form__row
                            = f.label :電話番号,class:"drawCanvas__after drawCanvas__after__form--label"
                            = f.text_field :tel,class:"drawCanvas__after drawCanvas__after--input", placeholder:"電話番号を入力"
                          .drawCanvas__after.drawCanvas__after__form__row
                            = f.label :メールアドレス,class:"drawCanvas__after drawCanvas__after__form--label"
                            = f.text_field :email,class:"drawCanvas__after drawCanvas__after--input", placeholder:"メールアドレスを入力"
                          = f.hidden_field :apiresulttext,class:"drawCanvas__after drawCanvas__after__form",id: "hiddenapiresulttext"
                          = f.hidden_field :apiresulthash,class:"drawCanvas__after drawCanvas__after__form"
                          = f.submit "名刺データを作成",id:"drawCanvas__after__form--submitbtn",class:"drawCanvas__after"
= render 'partial/footer'
= javascript_include_tag 'specific/newcamera'
// 上の書き方ではこのビューで読み込むjsファイルを指定しています。application.jsではcommonディレクトリの内容はすでに読み込んでますが、このビューだけの追加で読み込むjsの指定です。
